aws_region           = "ap-southeast-1"
project_name         = "spendwise"
environment          = "dev"
enable_nat_gateway   = true
create_rds           = false
# Khi create_rds = true, đặt mật khẩu mạnh:
# db_password        = "change-me-use-secret-manager-in-prod"

app_container_port      = 3000
alb_health_check_path   = "/"

# Bastion for SSM port forwarding (optional)
create_bastion              = false
bastion_instance_type       = "t3.nano"
bastion_associate_public_ip = true

# Amplify frontend hosting (replace with your Git repo + token)
amplify_repository_url = "https://github.com/<org>/<repo>.git"
amplify_access_token   = "CHANGE_ME"
amplify_branch_name    = "main"
