aws_region         = "ap-southeast-1"
project_name       = "spendwise"
environment        = "prod"
enable_nat_gateway = true
create_rds         = true
db_password        = "use-long-random-secret-store-in-secrets-manager"

app_container_port    = 3000
alb_health_check_path = "/"
